:root {
  --header: url("image-hero (2).jpg");
  --main-div: url("image-interactive (2).jpg");
  --body-margin: 0%;
  --body-padding: 0%;
  --footer-color: black;
  --body-font: 15px;
  --font-fam: "Josefin Sans", sans-serif;
}

body,
html {
  margin: var(--body-margin);
  padding: var(--body-padding);
  font-family: var(--font-fam);
  font-size: var(--body-font);
  overflow-x: hidden;
}
header {
  background-image: var(--header);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1em;
}

nav {
  display: flex;
  padding: 3em;
  justify-content: space-between;
}

nav > img {
  width: 13%;
  height: 13%;
  padding: 1em;
  margin-left: 2em;
  cursor: pointer;
}

.ul,
.lists,
#copyright {
  list-style: none;
  display: flex;
  margin-right: 1em;
}

.ul > li,
.lists > li,
#copyright > li {
  text-decoration: none;
  padding-right: 3em;
  font-weight: bold;
  color: hsl(0, 0%, 55%);
}

#copyright {
  line-height: 20px;
  text-align: right;
  margin-top: -5em;
  display: flex;
  padding-left: 39.2em;
  width: 60%;
}

li > a {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: var(--font-fam);
  font-weight: 400;
  font-size: 45px;
  color: white;
  width: 23%;
  border: 2px solid white;
  padding: 1em 3em 1em 1em;
  margin: 0.8em 2em 2em;
  letter-spacing: 1px;
}

.maindiv {
  background-image: var(--main-div);
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  margin: 5em;
}

.mainflex {
  display: flex;
  margin-top: 3em;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: -1px;
}

.shift {
  align-content: left;
  width: 37%;
  border: 1px solid white;
  background-color: white;
  padding: 5.3em 0em 0em 4.6em;
  margin: 14.5em -12.7em;
  z-index: 2;
}

p {
  margin-top: -1.4em;
  line-height: 20px;
  width: 80%;
  color: hsl(0, 0%, 41%);
}

.second-div {
  display: flex;
  justify-content: space-between;
  margin: -1em 6em;
}

button {
  padding: 1em 4em;
  height: 50%;
  letter-spacing: 1px;
  background-color: white;
  border: 2px solid hsl(0, 0%, 41%);
  margin: -1.2em -2.5em;
  font-family: "Alata", sans-serif;
}

h5 {
  margin: 5em -7em;
  font-size: 24px;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 1px;
  stroke: black;
  stroke-width: 100%;
  color: white;
}

.grid {
  display: grid;
  grid-template-areas:
    "a b c d"
    "e f g h";
  width: 100%;
  margin-left: -1.8em;
}

#content {
  margin-left: -0.8em;
}

.one {
  background-image: url("image-deep-earth (2).jpg");
  background-repeat: no-repeat;
  padding: 15em;
  margin: 2em 6em;
  width: 100%;
  grid-area: a;
}

.two {
  background-image: url("image-night-arcade (2).jpg");
  background-repeat: no-repeat;
  padding: 15em;
  margin: 2em -16em;
  grid-area: b;
}

.three {
  background-image: url("image-soccer-team (2).jpg");
  background-repeat: no-repeat;
  padding: 15em;
  margin: 2em 4em;
  grid-area: c;
}

.four {
  background-image: url("image-grid (2).jpg");
  background-repeat: no-repeat;
  padding: 15em;
  margin: 2em 2em;
  grid-area: d;
}

.five {
  background-image: url("image-from-above (2).jpg");
  background-repeat: no-repeat;
  padding: 15em;
  margin: -18em 6em;
  grid-area: e;
}

.six {
  background-image: url("image-pocket-borealis (2).jpg");
  background-repeat: no-repeat;
  padding: 15em;
  margin: -18em -16em;
  grid-area: f;
}

.seven {
  background-image: url("image-curiosity (2).jpg");
  background-repeat: no-repeat;
  padding: 15em;
  margin: -18em 4em;
  grid-area: g;
}

.eight {
  background-image: url("image-fisheye (2).jpg");
  background-repeat: no-repeat;
  padding: 15em;
  margin: -18em 2em;
  grid-area: h;
}

footer {
  background-color: var(--footer-color);
  padding: 90px 80px 40px;
  margin-top: 8em;
}

.footerdiv,
.footerdiv2 {
  display: flex;
  margin-top: -2em;
  justify-content: space-between;
}

.icons {
  margin-right: -18px;
}

.button {
  display: none;
}

.icons > img {
  padding-left: 1em;
}

.toggle-img,
.icons2 {
  display: none;
}

.hamburger,
.close {
  display: none;
}

.lists {
  margin: 4em -3em;
}

a:active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

button:active {
  background-color: black;
  color: white;
}

.one:active,
.two:active,
.three:active,
.four:active,
.five:active,
.six:active,
.seven:active,
.eight:active {
  -webkit-filter: invert(1) grayscale(1) blur(0);
  filter: invert(1) grayscale(1) blur(0);
}
